
ul{
    /* position: absolute; */
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2); 
   
  border-radius: 5px; 
  backdrop-filter: blur(14px); 
  background-color: rgba(255, 255, 255, 0.2); 
    margin: 0;
    padding: 20px 0;
    
    display: flex;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,.3);
    text-align: center;
    justify-content: center;
}
ul li{
    font-size: .6rem;
    list-style: none;
    text-align: center;
    display: block;
    border-right: 1px solid rgba(0,0,0,0.2);
}
ul li a{
    text-decoration: none;
    padding: 0 50px;
    display: block;
}